.about {
  position: relative;
  min-height: 720px;
  min-height: 100vh;
  scroll-margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
  align-items: center;
  box-sizing: border-box;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__image {
  border-radius: 32px;
  border: solid 16px #f1dada;
  height: auto;
  width: 100%;
  max-width: 600px;
}

.about__title {
  font-size: 5rem;
  margin: 0 0 2rem 0;
  line-height: 1;
}

.about__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}

.about__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about__description:last-of-type {
  color: #3d7960;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 2rem 1.5rem;
  }

  .about__title {
    font-size: 3.5rem;
  }

  .about__description {
    font-size: 1.25rem;
  }

  .about__image {
    border-width: 8px;
  }
}
