.card {
  border-radius: 32px;
  text-align: center;
  background-color: #f1dada;
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  border: solid 1rem #f1dada;
  box-sizing: border-box;
}

.card__image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: auto;
}

.card__description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}

.card__price {
  color: #c0392b;
  margin: 0;
}

.card__price--now {
  margin: 0;
  font-size: 2rem;
}

.card__price--was {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  margin: 0;
  font-size: 1.2rem;
}
