.contact {
  position: relative;
  min-height: 720px;
  scroll-margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
  flex-direction: column;
  box-sizing: border-box;
}

.contact__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.contact__content {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact__iframe {
  border-radius: 16px;
  border: solid 16px #f1dada;
  height: auto;
  min-height: 300px;
  flex-grow: 1;
}

.contact__title {
  margin: 0 0 2rem 0;
  font-size: 4rem;
}

.contact__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.contact__description {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.contact__gallery {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.contact__card {
  flex-grow: 1;
  min-width: 250px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem;
  border: solid 1rem #f1dada;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .contact {
    padding: 2rem 1rem;
    height: auto;
  }

  .contact__content {
    flex-direction: column;
  }

  .contact__title {
    font-size: 3rem;
  }

  .contact__description {
    font-size: 1.25rem;
  }

  .contact__gallery {
    flex-direction: row;
    justify-content: center;
  }
}
