.home {
  position: relative;
  min-height: 720px;
  height: 100vh;
  scroll-margin-top: 4rem;
  display: flex;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../img/fran.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f5f4;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.home__title {
  font-size: 6rem;
  line-height: 1;
}

@media (max-width: 768px) {
  .home__title {
    font-size: 3.5rem;
  }

  .home {
    min-height: 500px;
    height: auto;
  }
}
