.meet {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  gap: 5rem;
  scroll-margin-top: 4rem;
}

.meet__text {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
  flex-grow: 1;
}

.meet__image {
  border-radius: 32px;
  border: solid 16px #f1dada;
  max-width: 40%;
  height: auto;
  object-fit: cover;
}

.meet__title {
  margin: 0 0 2rem 0;
  font-size: 7rem;
}

.meet__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}

.meet__description {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.meet__description:last-of-type {
  color: #3d7960;
}
