.meet {
  position: relative;
  min-height: 720px;
  scroll-margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  gap: 5rem;
  align-items: center;
  box-sizing: border-box;
}

.meet__text {
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
  flex-grow: 1;
}

.meet__image {
  border-radius: 32px;
  border: solid 16px #f1dada;
  max-width: 40%;
  height: auto;
  object-fit: cover;
}

.meet__title {
  margin: 0 0 2rem 0;
  font-size: 7rem;
  line-height: 1;
}

.meet__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}

.meet__description {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.meet__description:last-of-type {
  color: #3d7960;
}

@media (max-width: 900px) {
  .meet {
    flex-direction: column-reverse;
    padding: 2rem 1.5rem;
    height: auto;
  }

  .meet__text {
    text-align: center;
  }

  .meet__title {
    font-size: 3.5rem;
  }

  .meet__description {
    font-size: 1.25rem;
  }

  .meet__image {
    max-width: 100%;
    border-width: 8px;
  }
}
