.nav {
  padding: 1rem;
  width: 100%;
  background-color: #f5f5f4;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav__brand {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
}

.nav__logo {
  width: 2rem;
  height: 2rem;
}

.nav__title {
  margin: 0;
  margin-left: 10px;
  align-items: center;
  font-size: 2rem;
}

.nav__list {
  margin: 0 20px;
  padding: 0 20px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.nav__link {
  text-decoration: none;
  color: #292524;
  scroll-behavior: smooth;
  text-transform: uppercase;
}
