body {
  background-color: #faf7f2;
  color: #5a4a3a;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.page__content {
  justify-content: center;
  margin: auto;
  min-width: 1100px;
  max-width: 1600px;
  flex: 1;
}

.u-accent {
  color: #e98690;
}

.home,
.about,
.specials,
.seasonal,
.testimonial,
.contact,
.meet {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  scroll-margin-top: 4rem;
  display: flex;
}
