body {
  background-color: #faf7f2;
  color: #5a4a3a;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.page__content {
  justify-content: center;
  padding: 5.5rem auto 0;
  margin: 0 auto;
  padding: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  flex: 1;
}

iframe {
  width: 24rem;
  height: 24rem;
  border: solid 1rem #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.u-accent {
  color: #e98690;
}

.image {
  border-radius: 32px;
  border: solid 16px #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
