.seasonal {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  scroll-margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
}

.seasonal__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.seasonal__image {
  border-radius: 32px;
  border: solid 16px #f1dada;
  height: auto;
  width: 100%;
}

.seasonal__title {
  margin: 0 0 2rem 0;
  font-size: 4rem;
}

.seasonal__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}

.seasonal__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.seasonal__description:last-of-type {
  color: #3d7960;
}
