.seasonal {
  position: relative;
  min-height: 720px;
  scroll-margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  gap: 4rem;
  align-items: center;
  box-sizing: border-box;
}

.seasonal__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.seasonal__image {
  border-radius: 32px;
  border: solid 16px #f1dada;
  height: auto;
  width: 100%;
  max-width: 600px;
}

.seasonal__title {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  line-height: 1;
}

.seasonal__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}

.seasonal__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.seasonal__description:last-of-type {
  color: #3d7960;
}

@media (max-width: 900px) {
  .seasonal {
    flex-direction: column-reverse;
    padding: 2rem 1.5rem;
    height: auto;
  }

  .seasonal__text {
    text-align: center;
  }

  .seasonal__title {
    font-size: 3rem;
  }

  .seasonal__description {
    font-size: 1.25rem;
  }

  .seasonal__image {
    border-width: 8px;
  }
}
