.specials {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  scroll-margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
}

.specials__title {
  font-size: 5rem;
  margin: 0;
}

.specials__gallery {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
