.specials {
  position: relative;
  min-height: 720px;
  scroll-margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
  box-sizing: border-box;
}

.specials__title {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.specials__gallery {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 768px) {
  .specials {
    padding: 2rem 1rem;
    height: auto;
  }

  .specials__title {
    font-size: 3rem;
  }
}
