.testimonial {
  position: relative;
  min-height: 720px;
  scroll-margin-top: 4rem;
  padding: 4rem;
  background-color: #f9f3f2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 4rem;
  box-sizing: border-box;
}

.testimonial__title {
  margin: 0;
  font-size: 4rem;
}

.testimonial__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

.testimonial__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.testimonial__gallery {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.testimonial__card {
  flex-grow: 1;
  min-width: 250px;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem;
  border: solid 1rem #f1dada;
}

@media (max-width: 900px) {
  .testimonial {
    padding: 2rem 1rem;
    height: auto;
  }

  .testimonial__title {
    font-size: 3rem;
  }

  .testimonial__description {
    font-size: 1.25rem;
  }
}
