.testimonial {
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  scroll-margin-top: 4rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 4rem;
}

.testimonial__title {
  margin: 0;
  font-size: 4rem;
}

.testimonial__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

.testimonial__description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.testimonial__gallery {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.testimonial__card {
  flex-grow: 1;
  min-width: 250px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem;
  border: solid 1rem #f1dada;
  flex-wrap: wrap;
}
